.pagination{
    display: flex;
    align-items: center;
    justify-content: stretch;
    height: 24px;
    padding: 20px;
}

.pagination button:first-child{
    margin-right: 20px;
}

.pagination button{
    border: none;
    color: rgb(43, 38, 38);;
    padding: 10px 10px;
    margin-top: 20px;
    background-color: transparent;
}