.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #d8dce0;
    width: 100%;
    padding: 100px;
  }
  .grid-item {
    width: 250px;
    margin: 10px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
  }